# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# macOS
.DS_Store

# Streamlit
.streamlit/secrets.toml

# Data / cache
data_storage/*.parquet
*.parquet

# IDE
.vscode/
.idea/
